/* COLORS */
/* NAVIGATION */
/* HEADER */
/* PORTFOLIO */
/* ABOUT */
/* CONTACT */
/* FOOTER */
/* SKILLS */
/* DESCRIPTION */
/* PROMO */
/* FONTS */
@font-face {
  font-family: "Flaticon";
  src: url("/fonts/flaticon.eot");
  src: url("/fonts/flaticon.eot#iefix") format("embedded-opentype"), url("/fonts/flaticon.woff") format("woff"), url("/fonts/flaticon.ttf") format("truetype"), url("/fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tw Cen MT";
  src: url("/fonts/twcenmt/twcenmt.eot");
  src: url("/fonts/twcenmt/twcenmt.woff") format("woff"), url("/fonts/twcenmt/twcenmt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
.page-header {
  border-bottom: none;
  margin: 0;
}
.page-header h1 {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .page-header h1 {
    font-size: 1.75em;
  }
}
/* NAV */
.navbar.navbar-default {
  height: 50px;
  background: #f9f9f9;
  border: none;
  color: #41494c;
}
@media (min-width: 768px) {
  .navbar.navbar-default {
    height: 70px;
  }
}
@media (min-width: 768px) {
  .navbar.navbar-default > .container {
    padding-top: 10px;
  }
}
.navbar.navbar-default .navbar-brand {
  color: #41494c;
  font-size: 1.5em;
  font-weight: 700;
  transition: all 0.25s ease-in-out;
}
.navbar.navbar-default .navbar-brand:hover {
  color: #448f9d;
}
@media (max-width: 767px) {
  .navbar.navbar-default .navbar-brand {
    font-size: 1.25em;
  }
}
.navbar.navbar-default .collapse.in {
  background: #f9f9f9;
}
.navbar.navbar-default .collapsing {
  background: #f9f9f9;
}
.navbar.navbar-default .navbar-nav li a {
  font-size: 1.25em;
  color: #41494c;
  transition: all 0.25s ease-in-out;
}
.navbar.navbar-default .navbar-nav li a:hover {
  color: #448f9d;
}
/* HEADER */
header {
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #41494c;
  color: #f9f9f9;
}
@media (min-width: 768px) {
  header {
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
header .header-title {
  font-family: "Tw Cen MT";
  font-size: 2.5em;
  font-weight: 600;
}
@media (min-width: 768px) {
  header .header-title {
    font-size: 4.25em;
    margin-bottom: 50px;
  }
}
header .header-desc {
  color: #ece8e9;
  font-size: 1.25em;
}
@media (min-width: 768px) {
  header .header-desc {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) {
  header.project-header {
    margin-top: 70px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
header.project-header .header-title {
  font-size: 2.25em;
  font-weight: 600;
}
@media (min-width: 768px) {
  header.project-header .header-title {
    font-size: 3.0em;
    margin-bottom: 30px;
  }
}
/* PORTFOLIO */
#portfolio {
  background: #ece8e9;
  color: #41494c;
}
#portfolio .portfolio-item-container {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  #portfolio .portfolio-item-container {
    margin-bottom: 45px;
  }
}
@media (min-width: 992px) {
  #portfolio .portfolio-item-container {
    margin-bottom: 40px;
  }
}
#portfolio .portfolio-item-container .portfolio-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background: #ece8e9;
}
#portfolio .portfolio-item-container .portfolio-item,
#portfolio .portfolio-item-container .portfolio-item:hover,
#portfolio .portfolio-item-container .portfolio-item:focus {
  color: inherit;
  text-decoration: none;
}
#portfolio .portfolio-item-container .portfolio-item .portfolio-item-header {
  position: relative;
  height: 150px;
  padding-top: 15px;
  transition: all 0.25s ease-in-out;
}
#portfolio .portfolio-item-container .portfolio-item .portfolio-item-header .portfolio-item-icon {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item-container .portfolio-item .portfolio-item-header .portfolio-item-type {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  width: 100%;
  font-weight: 600;
  font-size: 1.25em;
}
#portfolio .portfolio-item-container .portfolio-item .portfolio-item-content {
  display: table-cell;
  vertical-align: middle;
  height: 75px;
  width: 200px;
  color: #ece8e9;
  text-align: center;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
#portfolio .portfolio-item-container .portfolio-item .portfolio-item-content h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3em;
  font-weight: 600;
}
#portfolio .portfolio-item-container:nth-child(6n+1) .portfolio-item-header {
  background: #ddad0b;
  color: #bb9309;
}
#portfolio .portfolio-item-container:nth-child(6n+1) .portfolio-item-content {
  background: #bb9309;
}
#portfolio .portfolio-item-container:nth-child(6n+1) .portfolio-item-content p {
  color: #ddad0b;
}
#portfolio .portfolio-item-container:nth-child(6n+1) .portfolio-item:hover .portfolio-item-header {
  background: #bb9309;
  color: #997907;
}
#portfolio .portfolio-item-container:nth-child(6n+1) .portfolio-item:hover .portfolio-item-content {
  background: #997907;
}
#portfolio .portfolio-item-container:nth-child(6n+2) .portfolio-item-header {
  background: #74b7c2;
  color: #448f9d;
}
#portfolio .portfolio-item-container:nth-child(6n+2) .portfolio-item-content {
  background: #448f9d;
}
#portfolio .portfolio-item-container:nth-child(6n+2) .portfolio-item-content p {
  color: #74b7c2;
}
#portfolio .portfolio-item-container:nth-child(6n+2) .portfolio-item:hover .portfolio-item-header {
  background: #448f9d;
  color: #146778;
}
#portfolio .portfolio-item-container:nth-child(6n+2) .portfolio-item:hover .portfolio-item-content {
  background: #146778;
}
#portfolio .portfolio-item-container:nth-child(6n+3) .portfolio-item-header {
  background: #ca8275;
  color: #ba5c4b;
}
#portfolio .portfolio-item-container:nth-child(6n+3) .portfolio-item-content {
  background: #ba5c4b;
}
#portfolio .portfolio-item-container:nth-child(6n+3) .portfolio-item-content p {
  color: #ca8275;
}
#portfolio .portfolio-item-container:nth-child(6n+3) .portfolio-item:hover .portfolio-item-header {
  background: #ba5c4b;
  color: #aa3621;
}
#portfolio .portfolio-item-container:nth-child(6n+3) .portfolio-item:hover .portfolio-item-content {
  background: #aa3621;
}
#portfolio .portfolio-item-container:nth-child(6n+4) .portfolio-item-header {
  background: #78af89;
  color: #518b62;
}
#portfolio .portfolio-item-container:nth-child(6n+4) .portfolio-item-content {
  background: #518b62;
}
#portfolio .portfolio-item-container:nth-child(6n+4) .portfolio-item-content p {
  color: #78af89;
}
#portfolio .portfolio-item-container:nth-child(6n+4) .portfolio-item:hover .portfolio-item-header {
  background: #518b62;
  color: #2a673b;
}
#portfolio .portfolio-item-container:nth-child(6n+4) .portfolio-item:hover .portfolio-item-content {
  background: #2a673b;
}
#portfolio .portfolio-item-container:nth-child(6n+5) .portfolio-item-header {
  background: #c2853a;
  color: #98682e;
}
#portfolio .portfolio-item-container:nth-child(6n+5) .portfolio-item-content {
  background: #98682e;
}
#portfolio .portfolio-item-container:nth-child(6n+5) .portfolio-item-content p {
  color: #c2853a;
}
#portfolio .portfolio-item-container:nth-child(6n+5) .portfolio-item:hover .portfolio-item-header {
  background: #98682e;
  color: #6e4b22;
}
#portfolio .portfolio-item-container:nth-child(6n+5) .portfolio-item:hover .portfolio-item-content {
  background: #6e4b22;
}
#portfolio .portfolio-item-container:nth-child(6n+6) .portfolio-item-header {
  background: #9299c0;
  color: #6770a7;
}
#portfolio .portfolio-item-container:nth-child(6n+6) .portfolio-item-content {
  background: #6770a7;
}
#portfolio .portfolio-item-container:nth-child(6n+6) .portfolio-item-content p {
  color: #9299c0;
}
#portfolio .portfolio-item-container:nth-child(6n+6) .portfolio-item:hover .portfolio-item-header {
  background: #6770a7;
  color: #3c478e;
}
#portfolio .portfolio-item-container:nth-child(6n+6) .portfolio-item:hover .portfolio-item-content {
  background: #3c478e;
}
/* ABOUT */
#about {
  background: #448f9d;
  color: #f9f9f9;
}
#about .about-item {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 5px 5px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
#about .about-item,
#about .about-item:hover,
#about .about-item:focus {
  display: block;
  color: inherit;
  text-decoration: none;
}
#about .about-item .about-item-caption {
  font-size: 1.5em;
  transition: all 0.25s ease-in-out;
}
#about .about-item .about-item-desc {
  color: #74b7c2;
  font-size: 1.25em;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
}
#about .about-item .about-item-img {
  height: 160px;
  border: 5px solid #ece8e9;
}
#about .about-item:hover {
  background: #ece8e9;
}
#about .about-item:hover .about-item-caption {
  color: #41494c;
  font-weight: 600;
}
#about .about-item:hover .about-item-desc {
  color: #448f9d;
}
/* SKILLS */
#skills {
  background: #448f9d;
  color: #f9f9f9;
}
#skills .skill-item {
  background: inherit;
  color: inherit;
}
#skills .skill-item .skill-item-caption {
  color: #f9f9f9;
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: normal;
}
@media (min-width: 768px) {
  #skills .skill-item .skill-item-caption {
    width: 200px;
  }
}
#skills .skill-item .skill-item-desc {
  color: #74b7c2;
  font-size: 1.25em;
  line-height: 1.75em;
}
@media (min-width: 768px) {
  #skills .skill-item .skill-item-desc {
    margin-left: 220px;
  }
}
/* CONTACT */
#contact {
  background: #ece8e9;
  color: #41494c;
}
#contact .contact-name {
  font-size: 1.25em;
  color: #448f9d;
}
#contact .contact-item {
  font-size: 1.25em;
}
/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #41494c;
  color: #f9f9f9;
  height: 50px;
  font-size: 1.0em;
}
footer .container {
  margin-top: 15px;
}
/* ICONS */
/*
[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {   
font-family: Flaticon;
font-style: normal;
}

.icon-game:before {
content: "\e005";
}

.icon-web:before {
content: "\e009";
}

.icon-mobile:before {
content: "\e004";
}
*/
.icon-game {
  background-image: url(/images/icons/game.png);
  background-size: contain;
}
.icon-web {
  background-image: url(/images/icons/web.png);
  background-size: contain;
}
.icon-mobile {
  background-image: url(/images/icons/mobile.png);
  background-size: contain;
}
/* Images */
#images {
  background: #41494c;
}
#images .carousel {
  height: auto;
  max-width: 550px;
  margin: auto;
}
@media (min-width: 1200px) {
  #images .carousel {
    max-width: 580px;
  }
}
#images .carousel-control.left,
#images .carousel-control.right {
  background: none;
  cursor: pointer;
}
/* PROJECT DESCRIPTION */
#description {
  background: #ece8e9;
  color: #41494c;
}
#description p {
  font-size: 1.25em;
}
#description a {
  color: #448f9d;
}
#description dt {
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: 600;
}
@media (min-width: 768px) {
  #description dt {
    width: 200px;
  }
}
#description dd {
  font-size: 1.25em;
  line-height: 1.75em;
}
@media (min-width: 768px) {
  #description dd {
    margin-left: 220px;
  }
}
/* PROJECT PROMO */
#promo {
  background: #448f9d;
  color: #f9f9f9;
}
#promo .video {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* VERTICAL ALIGN 
from http://www.minimit.com/demos/bootstrap-3-responsive-columns-of-same-height
*/
@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}
