/* COLORS */
@yellow: #BB9309;
@yellow-light: #DDAD0B;

@blue: #448F9D;
@blue-light: #74B7C2;

@red: #BA5C4B;
@red-light: #CA8275;

@brown: #98682E;
@brown-light: #C2853A;

@purple: #6770A7;
@purple-light: #9299C0;

@green: #518B62;
@green-light: #78AF89;
@green-dark: @green + (@green - @green-light); 

@gray: #41494c;
@gray-light: #ece8e9;
@gray-lighter: #f9f9f9;

/* NAVIGATION */
@nav-height-big: 70px;
@nav-height-small: 50px;
@nav-background-color: @gray-lighter;
@nav-link-color: @gray;
@nav-link-hover-color: @blue;

/* HEADER */
@header-background-color: @gray;
@header-color: @gray-lighter;

/* PORTFOLIO */
@portfolio-item-header-height: 150px;
@portfolio-item-content-height: 75px;
@portfolio-item-width: 200px;
@portfolio-background-color: @gray-light;
@portfolio-color: @gray;

/* ABOUT */
@about-background-color: @blue;
@about-color: @gray-lighter;
@about-item-width: 300px;
@about-item-img-height: 160px;

/* CONTACT */
@contact-background-color: @gray-light;
@contact-color: @gray;

/* FOOTER */
@footer-background-color: @gray;
@footer-color: @gray-lighter;

/* SKILLS */
@skills-background-color: @blue;
@skills-color: @gray-lighter;

/* DESCRIPTION */
@description-background-color: @gray-light;
@description-color: @gray;

/* PROMO */
@promo-background-color: @blue;
@promo-color: @gray-lighter;

/* FONTS */
@font-face {
    font-family: "Flaticon";
    src: url("/fonts/flaticon.eot");
    src: url("/fonts/flaticon.eot#iefix") format("embedded-opentype"),
        url("/fonts/flaticon.woff") format("woff"),
        url("/fonts/flaticon.ttf") format("truetype"),
        url("/fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
