<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Dmytro Ovchar</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="#skills">Skills</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<!-- Header -->
<header>
    <div class="container text-center">
        <h1 class="header-title">Dmytro Ovchar</h1>
        <p class="header-desc">Web / game developer</p>
    </div>
</header>

<!-- Portfolio -->
<section id="portfolio">
    <div class="container">
        <div class="page-header">
            <h1>Portfolio</h1>
        </div>

        <div class="row">
            
            <div ng-repeat="project in projects" class="col-sm-4 col-md-3 portfolio-item-container">
                <a ui-sref="project({id: project.path})" class="thumbnail portfolio-item">
                    <div class="portfolio-item-header text-center">
                        <span class="glyphicon" ng-class="project.iconClass" aria-hidden="true"></span>
                    </div>
                    <div class="caption portfolio-item-content">
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.type }}</p>                        
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</section>

<!-- Skills -->
<section id="skills">
    <div class="container">
        <div class="page-header">
            <h1>Skills</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal skill-item">
                    <dt class="skill-item-caption">JavaScript</dt>
                    <dd class="skill-item-desc">AngularJS, jQuery, jQuery UI, Underscore.js, Backbone.js, Three.js, QUnit, Sinon.js</dd>

                    <dt class="skill-item-caption">HTML5, CSS3</dt>
                    <dd class="skill-item-desc">Canvas API, WebGL, Less</dd>

                    <dt class="skill-item-caption">PHP</dt>
                    <dd class="skill-item-desc">Yii2, CodeIgniter2, PHPUnit, Codeception</dd>

                </dl>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact">
    <div class="container">
        <div class="page-header">
            <h1>Contact</h1>            
        </div>

        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt class="contact-name">Email</dt>
                    <dd class="contact-item">ovchar.dmitriy@gmail.com</dd>
                </dl>
            </div>

            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt class="contact-name">Phone</dt>
                    <dd class="contact-item">+380 66 335 0134</dd>
                </dl>
            </div>
        </div>

    </div>
</section>
