<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="#page-top">GAZ-13</a>
        </div>

    </div>
</nav>

<!-- Header -->
<header class="project-header">
    <div class="container">
        <div class="row">
            <div class="row-md-height">
                <div class="col-md-5 col-md-height col-md-middle text-center">
                    <h1 class="header-title">GAZ-13 "Chayka"</h1>
                    <p class="header-desc">3D model</p>
                </div>

                <!-- Images -->
                <div id="images" class="col-md-7 col-md-height col-md-bottom">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                            <li data-target="#carousel" data-slide-to="3"></li>
                            <li data-target="#carousel" data-slide-to="4"></li>
                            <li data-target="#carousel" data-slide-to="5"></li>
                            <li data-target="#carousel" data-slide-to="6"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/images/screens_gaz/gaz13_1.jpg" alt="GAZ-13">
                            </div>
                            <div class="item">
                                <img src="/images/screens_gaz/gaz13_2.jpg" alt="GAZ-13">
                            </div>
                            <div class="item">
                                <img src="/images/screens_gaz/gaz13_3.jpg" alt="GAZ-13">
                            </div>
                            <div class="item">
                                <img src="/images/screens_gaz/gaz13_4.jpg" alt="GAZ-13">
                            </div>
                            <div class="item">
                                <img src="/images/screens_gaz/gaz13_5.jpg" alt="GAZ-13">
                            </div>
                            <div class="item">
                                <img src="/images/screens_gaz/gaz13_6.jpg" alt="GAZ-13">
                            </div>
                            <div class="item">
                                <img src="/images/screens_gaz/gaz13_7.jpg" alt="GAZ-13">
                            </div>
                        </div>

                        <!-- Controls -->
                        <span class="left carousel-control" data-target="#carousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </span>
                        <span class="right carousel-control" data-target="#carousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Description -->
<section id="description">
    <div class="container">
        <div class="page-header">
            <h1>Description</h1>            
        </div>

        <div class="row">
            <div class="col-md-12">                
                <p>Coming soon...</p>
                <dl class="dl-horizontal">
                    <dt>Technologies</dt>
                    <dd>SolidWorks<br>                        
                    </dd>

                    <dt>Design</dt>
                    <dd><a ui-sref="ivan">Ivan Moskalenko</a></dd>
                </dl>
            </div>
        </div>

    </div>
</section>
