<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="#page-top">HeliCrane</a>
        </div>

    </div>
</nav>

<!-- Header -->
<header class="project-header">
    <div class="container">
        <div class="row">
            <div class="row-md-height">
                <div class="col-md-5 col-md-height col-md-middle text-center">
                    <h1 class="header-title">HeliCrane</h1>
                    <p class="header-desc">Flash game</p>
                </div>

                <!-- Images -->
                <div id="images" class="col-md-7 col-md-height col-md-bottom">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                            <li data-target="#carousel" data-slide-to="3"></li>
                            <li data-target="#carousel" data-slide-to="4"></li>
                            <li data-target="#carousel" data-slide-to="5"></li>
                            <li data-target="#carousel" data-slide-to="6"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/images/screens_helicrane/helicrane_1.png" alt="HeliCrane">
                            </div>
                            <div class="item">
                                <img src="/images/screens_helicrane/helicrane_2.png" alt="HeliCrane">
                            </div>
                            <div class="item">
                                <img src="/images/screens_helicrane/helicrane_3.png" alt="HeliCrane">
                            </div>
                            <div class="item">
                                <img src="/images/screens_helicrane/helicrane_4.png" alt="HeliCrane">
                            </div>
                            <div class="item">
                                <img src="/images/screens_helicrane/helicrane_5.png" alt="HeliCrane">
                            </div>
                            <div class="item">
                                <img src="/images/screens_helicrane/helicrane_6.png" alt="HeliCrane">
                            </div>
                            <div class="item">
                                <img src="/images/screens_helicrane/helicrane_7.png" alt="HeliCrane">
                            </div>
                        </div>

                        <!-- Controls -->
                        <span class="left carousel-control" data-target="#carousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </span>
                        <span class="right carousel-control" data-target="#carousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Description -->
<section id="description">
    <div class="container">
        <div class="page-header">
            <h1>Description</h1>            
        </div>

        <div class="row">
            <div class="col-md-12">                
                <p><strong>HeliCrane</strong> it's a popular Flash game in helicopter genre. Next tools such as Adobe Flash, FlashDevelop, ActionScript 3.0 were used for creation it. The unique game engine based on Box2d provides dynamic load/unload levels to minimize the resources consumed by the computer. Automatic parsing of game objects geometry directly from the graphic resources are significantly accelerated the development process. Vector graphics, made in a tech-cartoon style with discrete gradient fills, creates a pleasant atmosphere for the players and has received many positive feedbacks. In just six months the game gained more than 1 million views and entered to the top 10 popular games on the primary sponsor site <a href="kiz10.com">kiz10.com.</a></p>

                <dl class="dl-horizontal">
                    <dt>Technologies</dt>
                    <dd>Adobe Flash, ActionScript 3, Box2D, Greensock TweenLite, Google Analytics.<br>                        
                    </dd>

                    <dt>Design</dt>
                    <dd><a ui-sref="ivan">Ivan Moskalenko</a></dd>

                    <dt>Code</dt>
                    <dd><a ui-sref="dmytro">Dmytro Ovchar</a></dd>
                </dl>

            </div>
        </div>

    </div>
</section>

<!-- Promo -->
<section id="promo">
    <div class="container">
        <div class="page-header">
            <h1>Promo video</h1>            
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RrmKZSXFQzk"></iframe>
                </div>
            </div>
        </div>

    </div>
</section>
