<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="#page-top">HeliRunner</a>
        </div>

    </div>
</nav>

<!-- Header -->
<header class="project-header">
    <div class="container">
        <div class="row">
            <div class="row-md-height">
                <div class="col-md-5 col-md-height col-md-middle text-center">
                    <h1 class="header-title">HeliRunner</h1>
                    <p class="header-desc">Android game</p>
                </div>

                <!-- Images -->
                <div id="images" class="col-md-7 col-md-height col-md-bottom">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                            <li data-target="#carousel" data-slide-to="3"></li>
                            <li data-target="#carousel" data-slide-to="4"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item lazy-load active">
                                <img src="/images/screens_helirunner/helirunner_1.png" alt="HeliRunner">
                            </div>
                            <div class="item lazy-load">
                                <img data-lazy-load-src="/images/screens_helirunner/helirunner_2.png" alt="HeliRunner">
                            </div>
                            <div class="item lazy-load">
                                <img data-lazy-load-src="/images/screens_helirunner/helirunner_3.png" alt="HeliRunner">
                            </div>
                            <div class="item lazy-load">
                                <img data-lazy-load-src="/images/screens_helirunner/helirunner_4.png" alt="HeliRunner">
                            </div>
                            <div class="item lazy-load">
                                <img data-lazy-load-src="/images/screens_helirunner/helirunner_5.png" alt="HeliRunner">
                            </div>
                        </div>

                        <!-- Controls -->
                        <span class="left carousel-control" data-target="#carousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </span>
                        <span class="right carousel-control" data-target="#carousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Description -->
<section id="description">
    <div class="container">
        <div class="page-header">
            <h1>Description</h1>            
        </div>

        <div class="row">
            <div class="col-md-12">                
                <p><strong>HeliRunner</strong> it's mobile Android/iOS game which developed in runner genre. Next tools such as Java, AndroidStudio, LibGDX, Universal Java Tween Engine, Google Services were used for creation it. The unique game engine based on Box2d provides realistic physics and collisions for game objects. Control over main game personages is very simply and performed by two display buttons. Beautiful graphics, made in a minimal-tech-cartoon style with discrete gradient fills, creates a pleasant atmosphere for the players and has received many positive feedbacks. 
In nearest future the game will be published on the Google PlayMarket.</p>

                <dl class="dl-horizontal">
                    <dt>Technologies</dt>
                    <dd>Java, AndroidStudio, LibGDX, Universal Java Tween Engine, Google Services</dd>

                    <dt>Design &amp; code</dt>
                    <dd><a ui-sref="ivan">Ivan Moskalenko</a></dd>
                </dl>

            </div>
        </div>

    </div>
</section>
